@import '../commons.scss';

.Menu{
    background-color: #3a3a3a;
    color: white;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    @include transition(width);

    &.expanded{
        width: 300px;
    }

    &.collapsed{
        width: 68px;
    }

    .menuButton {
        display: flex;
        justify-content: right;

        .hamburguerIcon{
            cursor: pointer;
            border: none;
            background-color: transparent;
            color: white;
            padding: 10px;
            width: 68px;
        }
    }
}

